<div>
    Your request is not valid. Errors:

    <ul>
        </br>
        </br>
        </br>
        @foreach (var error in Model)
        {
            <li>@error</li>
        }
    </ul>
</div>
